* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    box-sizing: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FFFDF6;
}

#header {
    height: 80px;
    background-color: #FAF6E9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header>div 
{
    display: flex;
    align-items: center;
    gap: 20px;
}
#header>div>h1, #content>h2 
{
     font-family: "Playfair Display", serif;
     letter-spacing: 2px;
}
#header>ul 
{
    
    display: flex;
    list-style-type: none;
    gap:10px;
    padding-right: 20px;
}
.menu-item:link 
{
    background-color: #DDEB9D;
    padding:10px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color:black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
section 
{
    height: 100vh; /* viewport(screen) */
}
#content 
{
    padding: 10px 20px;
    height: calc(100vh - 170px);
    overflow: scroll;
}
#content>p 
{
    margin: 20px;
}
#footer 
{
    height: 30px;
    background-color: #FAF6E9;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}